@import "./reset.css";

@font-face {
  font-family: "Teko";
  src: local("Teko"), url("../fonts/Teko-Medium.woff") format("woff"),
    url("../fonts/Teko-Medium.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Mukta Light";
  src: local("Mukta Light"), url("../fonts/Mukta-Light.woff") format("woff"),
    url("../fonts/Mukta-Light.ttf") format("ttf");
  font-display: swap;
}

:root {
  --space-3xs: clamp(0.25rem, calc(0.21rem + 0.2vw), 0.38rem);
  --space-2xs: clamp(0.5rem, calc(0.44rem + 0.31vw), 0.69rem);
  --space-xs: clamp(0.75rem, calc(0.65rem + 0.51vw), 1.06rem);
  --space-s: clamp(1rem, calc(0.88rem + 0.61vw), 1.38rem);
  --space-m: clamp(1.5rem, calc(1.32rem + 0.92vw), 2.06rem);
  --space-l: clamp(2rem, calc(1.76rem + 1.22vw), 2.75rem);
  --space-xl: clamp(3rem, calc(2.63rem + 1.84vw), 4.13rem);
  --space-2xl: clamp(4rem, calc(3.51rem + 2.45vw), 5.5rem);
  --space-3xl: clamp(6rem, calc(5.27rem + 3.67vw), 8.25rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.11rem + 0.71vw), 0.69rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.32rem + 0.92vw), 1.06rem);
  --space-xs-s: clamp(0.75rem, calc(0.55rem + 1.02vw), 1.38rem);
  --space-s-m: clamp(1rem, calc(0.65rem + 1.73vw), 2.06rem);
  --space-m-l: clamp(1.5rem, calc(1.09rem + 2.04vw), 2.75rem);
  --space-l-xl: clamp(2rem, calc(1.31rem + 3.47vw), 4.13rem);
  --space-xl-2xl: clamp(3rem, calc(2.18rem + 4.08vw), 5.5rem);
  --space-2xl-3xl: clamp(4rem, calc(2.61rem + 6.94vw), 8.25rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, calc(0.43rem + 2.86vw), 2.75rem);

  /* Type */
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1300,20,1.5,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --step--2: clamp(0.56rem, calc(0.56rem + -0.01vw), 0.56rem);
  --step--1: clamp(0.75rem, calc(0.72rem + 0.14vw), 0.83rem);
  --step-0: clamp(1rem, calc(1rem + 0.41vw), 1.5rem);
  --step-1: clamp(1.33rem, calc(1.16rem + 0.88vw), 1.88rem);
  --step-2: clamp(1.78rem, calc(1.44rem + 1.69vw), 2.81rem);
  --step-3: clamp(2.37rem, calc(1.76rem + 3.02vw), 4.22rem);
  --step-4: clamp(3.16rem, calc(2.12rem + 5.18vw), 6.33rem);
  --step-5: clamp(4.21rem, calc(2.48rem + 8.63vw), 9.49rem);
  --step-6: clamp(5.61rem, calc(2.79rem + 14.09vw), 14.24rem);

  /* Fonts */
  --heading: "Teko", sans-serif;
  --body: "Mukta Light", "Helvetica", sans-serif;

  /* Colors */
  --bg: hsl(78.7, 78.2%, 69.4%);
  --accent1: hsl(263, 89.6%, 18.8%);
  --accent2: hsl(263, 50.9%, 32.7%);
  --accent1-dark: hsl(263, 89.6%, 13.8%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--body);
  line-height: 1.4;
  font-size: var(--step-0);
  font-weight: 300;
  margin: 0;
  min-height: 100vh;
}

footer {
  padding: var(--space-s) var(--space-m);
  background-color: var(--accent1-dark);
  color: white;
}

h1,
h2,
h3 {
  font-family: var(--heading);
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

p {
  max-width: 60ch;
}

a {
  color: inherit;
  transition: background-color 200ms, color 200ms;
  background: linear-gradient(
    to right,
    var(--linkHoverColor, white) 50%,
    transparent 0
  );
  background-size: 200% 50%;
  background-repeat: no-repeat;
  background-position: 200% 100%;
  transition: background-position 200ms;
}

a:hover,
a:focus {
  background-position: 0 100%;
  text-decoration: none;
}

svg {
  width: 100%;
  height: auto;
  fill: currentColor;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  padding: var(--space-2xl) 0;
}

strong {
  font-family: var(--heading);
  font-size: 1.1em;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 var(--space-m);
}

.markdown p:first-child {
  font-size: var(--step-1);
}

.markdown * + * {
  margin-top: var(--space-s);
}
