---
const items = await Astro.glob("../pages/why/*.md");

import waterImg from "../images/water.svg";
import { Icon } from "astro-icon";
---

<ul role="list" class="grid">
  {
    items.map((post) => (
      <li>
        <Icon name="water" />
        <h3>{post.frontmatter.title}</h3>
        <div set:html={post.compiledContent()} />
        {post.frontmatter.sources && <h4>Sources:</h4>}
        <ul class="sources">
          {post.frontmatter.sources &&
            post.frontmatter.sources.map((source) => (
              <li>
                <a href={source.url}>{source.title}</a>
              </li>
            ))}
        </ul>
      </li>
    ))
  }
</ul>

<style>
  .grid {
    display: grid;
    gap: var(--space-m-l);
    max-width: 55rem;
    margin: var(--space-2xl) auto 0;
    padding: 0;
  }

  @media (min-width: 600px) {
    .grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 900px) {
    .grid {
      gap: var(--space-2xl);
    }
  }

  h3 {
    font-size: var(--step-2);
  }

  h4 {
    font-size: 1rem;
    margin-top: var(--space-s);
  }

  li {
    text-align: center;
  }

  .sources {
    font-size: 1rem;
    list-style: none;
    padding: 0;
  }

  svg {
    max-width: 10rem;
    margin: 0 auto var(--space-s) auto;
  }
</style>
