---
export interface Props {
  title: string;
  body: string;
  source: object;
  icon: string;
}

const { title, body, source, img } = Astro.props;

import { Icon } from "astro-icon";
---

<article>
  <div class="image-col">
    <Icon name="jeans" />
  </div>
  <div class="text-col">
    <h3>{title}</h3>
    <p>{body}</p>
    <cite>
      <a href={source.url}>{source.title}</a>
    </cite>
  </div>
</article>

<style>
  article {
    display: grid;
    gap: var(--space-m);
    margin-top: var(--space-xl);
    background: var(--accent2);
    color: white;
    padding: var(--space-xl);
    border-radius: var(--space-l);
    transform: rotate(-3deg);
  }

  svg {
    color: var(--accent1-dark);
  }

  @media (min-width: 800px) {
    article {
      grid-template-columns: 1fr 2fr;
    }
  }

  p {
    margin-top: var(--space-s);
  }

  cite {
    font-size: 1rem;
    font-style: normal;
    margin-top: var(--space-xs);
    display: block;
  }
</style>
