<header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about/">About</a>
      </li>
      <li>
        <a href="/blog/">Blog</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    background: var(--accent1-dark);
    color: white;
    position: sticky;
    top: 0;
  }

  ul {
    display: flex;
    justify-content: end;
  }

  a {
    display: block;
    padding: 0.5rem 1.5rem;
  }
</style>
