<header>
  <nav>
    <ul>
      <li>
        <a href="#why">Why</a>
      </li>
      <li>
        <a href="#how">How</a>
      </li>
      <li>
        <a href="/story/">Story</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    background: var(--accent1-dark);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  nav {
    padding: 0 var(--space-s);
  }

  ul {
    display: flex;
    justify-content: end;
  }

  a {
    background: transparent;
    display: block;
    padding: 0.5rem 1.5rem;
    transition: background-color 200ms;
  }

  a:hover,
  a:focus {
    background: teal;
  }
</style>
