<div class="progress-counter">
  <p>Days since <br /> last purchase <span data-count></span></p>
</div>

<style>
  .progress-counter {
    position: relative;
    font-family: var(--heading);
    font-size: var(--step-1);
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--bg);
    color: black;
    aspect-ratio: 1;
    width: fit-content;
    padding: var(--space-m);
    border-radius: 1rem;
    transform: rotate(15deg);
  }

  .progress-counter::after {
    position: absolute;
    content: "";
    inset: 0.35em;
    border-radius: 1.1rem;
    border: 0.1em dashed var(--accent1);
  }

  @supports (aspect-ratio: 1) and (width: fit-content) {
    .progress-counter,
    .progress-counter::after {
      border-radius: 50%;
    }
  }

  span {
    font-size: var(--step-3);
    display: block;
    margin-bottom: -0.2em;
  }
</style>

<script>
  const textElement = document.querySelector("[data-count]");

  const getCount = () => {
    const startDate = new Date("2022-01-01T00:00:00Z");
    const dateNow = new Date();
    const difference = dateNow.getTime() - startDate.getTime();

    return Math.floor(difference / 1000 / 60 / 60 / 24);
  };

  textElement.innerText = getCount();
</script>
