---
export interface Props {
  title: string;
  body: string;
}

const { title, body, type } = Astro.props;
---

<section>
  <div class="container">
    <h2>{title}</h2>
    {body && <p>{body}</p>}
    <slot />
  </div>
</section>

<style>
  section {
    background: var(--bg);
  }

  section:nth-child(odd) {
    background: var(--accent2);
    color: white;
  }
</style>
