---
export interface Props {
  title: string;
  id: string;
}

const { title, id } = Astro.props;
---

<section id={id}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xml:space="preserve"
    viewBox="0 0 1600 81.3"
    ><path class="p1" d="M1600 81.3H0v-44s440 84 800 0 800 0 800 0v44z"></path>
    <path
      class="p2"
      d="M1600 81.3H0v-44s566.5-67.5 997.5 3.5c454.5 74.9 602.5-3.5 602.5-3.5v44z"
    ></path>
  </svg>
  <div class="container">
    <h2>{title}</h2>
    <slot />
  </div>
</section>

<style>
  section {
    --bgColor: var(--bg);
    position: relative;
    background: var(--bgColor);
    padding: var(--space-2xl) 0 var(--space-3xl);
  }

  p {
    font-size: var(--step-1);
  }

  .p2 {
    display: none;
  }

  section:nth-child(odd) {
    --bgColor: var(--accent2);
    --linkHoverColor: var(--accent1);
    color: white;
  }

  section:nth-child(odd) .p2 {
    display: block;
  }

  section:nth-child(odd) .p1 {
    display: none;
  }

  section:nth-child(odd) .markdown a {
    color: var(--bg);
  }

  svg {
    position: absolute;
    bottom: calc(100% - 1px);
    fill: var(--bgColor);
  }

  @media (min-width: 1020px) {
    section {
      padding: var(--space-3xl) 0 calc(var(--space-3xl) * 1.5);
    }
  }
</style>
